.form {
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 270px;
   border: 2px solid rgb(58, 58, 240);
   background: rgb(212, 212, 243);
   border-radius: 20px;
   margin-top: 80px;
   margin-left: -880px;
   position: absolute;
   z-index: 1;
}
.container {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
   margin-left: 55px;
   z-index: 2;
}
.btn {
   margin: 5px 0 0 100px;
}
