.form {
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 300px;
   border: 2px solid rgb(58, 58, 240);
   background: rgb(212, 212, 243);
   border-radius: 20px;
   margin-top: -135px;
   margin-left: -250px;
   position: absolute;
   z-index: 1;
}
.container {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
   margin-left: 55px;
   z-index: 2;
}
.btn {
   margin: 10px 0 0 -40px;
}

/* @media  screen and (max-width: 1439px)  and (min-width: 1024px) {
   .form {
      width: 500px;
      height: 270px;
      margin-top: 80px;
      margin-left: -880px;
   }
   .container {
      margin-top: 15px;
      margin-left: 55px;
   }
   .btn {
      margin: 5px 0 0 100px;
   }
} */
   
@media  screen and (max-width: 1023px)  and (min-width: 640px){
   .form {
      height: 380px;
      
   }
   .btn {
      margin: 5px auto 0;
   }
}

@media  screen and (max-width: 639px){
   .form {
      width: 80vw;
      height: 52vh;
      padding: 10px;
      margin-top: -250px;
      margin-left: -200px;
   }
   .container {
      margin:7px 20px;
   }
   .btn {
      margin: 15px auto 0;
   }
}
