.authorizationResult {
   display: flex;
   flex-direction: column;
   width: 500px;
   /* min-height: 200px; */
   padding: 10px 30px 30px 30px; 
   border: 2px solid rgb(58, 58, 240);
   background-color: rgb(212, 212, 243);
   border-radius: 20px;
   margin-top: -80px;
   margin-left: -250px;
   position: absolute;
   z-index: 1;
}
.hello,
.link,
.helloLink {
   display: flex;
   flex-direction: column;
   line-height: 1.5em;
   color: black;
   vertical-align: center;
   z-index: 2;
}
.hello,
.helloLink {
   font-size: 24px;
   font-weight: 700;
}
.helloLink, .hello {
   margin: 30px auto;
}
.link {
   display: inline;
   height: 50ph;
   font-size: 22px;
   font-weight: 700;
}
.linkEntery:hover {
   cursor: pointer;
}

.cross {
   display: flex;
   justify-content: end;
   margin: 10px 10px 10px 0;
   position: relative;
}
.line1 {
   width: 0px;
   height: 33px;
   right: 17px;
   border: 1px solid #000000;
   transform: rotate(45deg);
   position: absolute;
}
.line2 {
   width: 33px;
   height: 0px;
   top: 17px;
   right: 0px;
   border: 1px solid #000000;
   transform: rotate(45deg);
   position: absolute;
}
@media  screen and (max-width: 639px){
   .authorizationResult {
      width: 80vw;
      /* height: 50vh; */
      padding: 10px 30px 30px 30px;
      margin-top: -220px;
      margin-left: -260px;
   }
}
@media  screen and (max-width: 400px){
   .authorizationResult {
      width: 80vw;
      padding: 10px 30px 30px 30px;
      margin-top: -220px;
      margin-left: -180px;
   }
}