.header {
   display: flex;
   justify-content: center;
   height: 100px;
   width: 100%;
   background-color: #000000;
   position: fixed;
   z-index: 3;
   top: 0;
}
.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: 1439px;
   height: 100px;
   margin: 0 auto;
   color: #ffa500;
   font-weight: 700;
   font-size: 20px;
   line-height: 50%;
   font-family: "Inter", sans-serif;
}
.burgerMenu{
   display: none;
}
@media  screen and (max-width: 1023px)  and (min-width: 640px){
   .header, .wrapper {
      max-width: 1023px;
      margin: 0 auto;
   }
   .burgerMenu{
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   .burgerButton{
      width: 24px;
      height: 15px;
      margin-right: 40px;
      position: relative;
      cursor: pointer;
      background-color:#000000;
   }
   .burgerButton::before{
      content: '';
      position: absolute;
      top: 0;
      width: 24px;
      height: 3px;
      background-color: #ffa500;
   }
   .burgerButton span{
      position: absolute;
      top: 6px;
      width: 24px;
      height: 3px;
      background-color: #ffa500;
   }
   .burgerButton::after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 24px;
      height: 3px;
      background-color: #ffa500;
   }
}
@media  screen and (max-width: 639px){
   .header, .wrapper {
      max-width: 639px;
      margin: 0 auto;
   }
   .burgerMenu{
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   .burgerButton{
      width: 24px;
      height: 15px;
      margin-right: 40px;
      position: relative;
      cursor: pointer;
      background-color:#000000;
   }
   .burgerButton::before{
      content: '';
      position: absolute;
      top: 0;
      width: 24px;
      height: 3px;
      background-color: #ffa500;
   }
   .burgerButton span{
      position: absolute;
      top: 6px;
      width: 24px;
      height: 3px;
      background-color: #ffa500;
   }
   .burgerButton::after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 24px;
      height: 3px;
      background-color: #ffa500;
   }
}
