.detalOfficer {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: black;
   height: 700px;
   margin: 40px auto 0;
}
.wrapper {
   display: flex;
   justify-content: start;
   min-width: 1235px;
   margin: 0 auto;
   position: relative;
   font-family: "Inter", sans-serif;
}
.imgOfficer {
   background-image: url(./bikeOfficer.jpg);
   position: absolute;
   background-position: center center;
   min-width: 1235px;
   height: 700px;
   margin: 0 auto;
   z-index: 1;
}
.form {
   display: flex;
   flex-direction: column;
   width: 540px;
   height: 560px;
   border: 2px solid rgb(58, 58, 240);
   background: rgb(212, 212, 243);
   border-radius: 20px;
   margin-top: 70px;
   margin-left: 100px;
   z-index: 1;
}
.title {
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 22px;
   font-weight: 700;
   margin-top: 10px;
}

.container {
   display: flex;
   flex-direction: column;
   margin-top: 5px;
   margin-left: 75px;
   z-index: 2;
}
.label,
.titleStatus {
   color: black;
   font-size: 18px;
   font-weight: 400;
   margin-top: 10px;
}
.input {
   font-family: "Inter", sans-serif;
   font-style: italic;
   background: white;
   color: black;
   width: 380px;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   padding-left: 5px;
   border: 2px solid rgb(212, 212, 243);
}
.statOfficer {
   display: flex;
   justify-content: start;
}
.checkbox {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-top: 16px;
}
/* .radio {
   font-size: 18px;
   font-weight: 400;
   padding-left: 10px;
} */
.radioButton {
   margin-bottom: 10px;
}
.btn {
   margin-top: 5px;
}
.wrap{
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 120px;
   border: 2px solid rgb(58, 58, 240);
   background: rgb(212, 212, 243);
   border-radius: 20px;
   margin-top: 480px;
   margin-left: -250px;
   z-index: 3;
   position: absolute;
}
.auth{
   text-align: center;
   margin: 50px 0 0 50px;
   font-size:24px;
   color:rgb(58, 58, 240);
   z-index: 4;
   position: absolute;
}
.loading{
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 120px;
   margin-top: 300px;
   margin-left: 550px;
   z-index: 6;
   position: absolute;
}
