.detalCase {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: black;
   height: 700px;
}
.wrapper {
   display: flex;
   justify-content: center;
   min-width: 1235px;
   margin: 0 auto;
   position: relative;
   font-family: "Inter", sans-serif;
}
.caseBike {
   background-image: url(./caseBike.jpg);
   position: absolute;
   background-position: center center;
   min-width: 1235px;
   height: 700px;
   margin: 0 auto;
   z-index: 1;
}
.border {
   display: flex;
   flex-direction: column;
   width: 900px;
   height: 550px;
   border: 2px solid rgb(58, 58, 240);
   background: rgb(212, 212, 243);
   border-radius: 20px;
   margin: 100px auto 0;
   z-index: 1;
}
.title {
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 22px;
   font-weight: 700;
   margin-top: 20px;
}
.container {
   display: flex;
   justify-content: space-evenly;
   margin-left: 40px;
}
.formLeft,
.formRight {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   z-index: 2;
}
.label {
   color: black;
   height: 22px;
   font-size: 18px;
   font-weight: 400;
   margin-top: 10px;
}
.input {
   background: white;
   color: black;
   width: 340px;
   height: 22px;
   font-size: 16px;
   font-weight: 400;
   margin-top: 6px;
   border: 2px solid rgb(212, 212, 243);
   padding: 5px 0 0 10px;
}
.btn {
   margin: 15px auto;
}
