.footer {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: black;
   height: 100px;
   margin: 0 auto;
   z-index: 3;
}
.wrapper {
   display: flex;
   justify-content: center;
   width: 1235px;
   margin: 0 auto;
   bottom: 0;
   background-color: black;
}
.contacts {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffa500;
   font-weight: 700;
   font-size: 20px;
   line-height: 50%;
   font-family: "Inter", sans-serif;
   background-color: black;
   margin: 5px;
}
.socialNetwork {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 60px;
}
.link_button {
   background: black;
   border: 1px solid black;
   cursor: pointer;
   text-decoration: underline;
   display: inline;
   margin: 5px;
}
.item {
   height: 35px;
   color: #ffa500;
}
@media  screen and (max-width: 639px){
   .footer, .wrapper {
      max-width: 639px;
      margin: 0 auto;
   }
   .contacts {
      display: flex;
      flex-direction: column;
   }
   .item {
      margin-top: 10px;
   }
}