.caseForm {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: black;
   height: 700px;
   margin: 40px auto 0;
}
.wrapper {
   display: flex;
   justify-content: space-between;
   min-width: 1235px;
   margin: 0 auto;
   position: relative;
   font-family: "Inter", sans-serif;
}
.formBike {
   background-image: url(./formBike.jpg);
   position: absolute;
   background-position: center center;
   min-width: 1235px;
   height: 700px;
   margin: 0 auto;
   z-index: 1;
}
.form {
   display: flex;
   flex-direction: column;
   width: 900px;
   height: 470px;
   border: 2px solid rgb(58, 58, 240);
   background: rgb(212, 212, 243);
   border-radius: 20px;
   margin: 100px auto 0;
   z-index: 1;
   position: relative;
}
.title {
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 22px;
   font-weight: 700;
   margin-top: 20px;
}
.comment {
   font-size: 16px;
   margin-top: 10px;
   padding-left: 30px;
   color: rgb(248, 9, 9);
}
.container {
   display: flex;
   justify-content: space-evenly;
}

.formLeft,
.formRight {
   display: flex;
   flex-direction: column;
   z-index: 1;
}
.button {
   display: flex;
   margin: auto;
   margin-bottom: 30px;
}