.officers {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: black;
   height: 800px;
   margin: 0 auto;
}
.wrapper {
   display: flex;
   justify-content: space-between;
   min-width: 1235px;
   margin: 0 auto;
   position: relative;
   font-family: "Inter", sans-serif;
}
.imgOfficer {
   background-image: url(./bikeOfficer.jpg);
   position: absolute;
   background-position: center center;
   min-width: 1235px;
   height: 800px;
   margin: 0 auto;
   z-index: 1;
}
.border {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 120px 0 0 40px;
   background: rgba(255, 218, 151, 0.993);
   border: 2px solid #ffa500;
   border: 2px solid #000000;
   background: rgb(234, 234, 255);
   border-radius: 20px;
   width: 810px;
   height: 600px;
   z-index: 2;
}
.title {
   font-style: 22px;
   font-weight: 700;
   color: #000000;
   margin-top: 30px;
}
.btn {
   font-weight: 700;
   font-size: 20px;
   line-height: 140%;
   padding: 5px 10px;
   background: #ffa500;
   color: white;
   border: 2px solid #ffa500;
   border-radius: 20px;
   /* margin-left: 630px;
   margin-bottom: 50px; */
   margin: 10px 0 50px 630px;
}
.btn:hover {
   color: #000000;
   cursor: pointer;
}
